name: Certs Generation for all sites
run-name: ssl certs for all

on:
  workflow_dispatch:

jobs:
  generate-certificate:
    runs-on: ubuntu-latest
    environment: 'magnum'
    
    steps:
    - uses: actions/checkout@v2

    - name: Install Certbot
      run: |
        sudo apt-get update
        sudo apt-get install -y certbot python3-certbot-dns-route53 
        
    - name: Configure AWS CLI
      uses: aws-actions/configure-aws-credentials@v2
      with:
       aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY }}
       aws-secret-access-key: ${{ secrets.AWS_SECRET_KEY }}
       aws-region: us-east-1
        
    - name: Generate SSL Certificate for wondermove.in
      run: |
        certbot certonly \
          --dns-route53 \
          --agree-tos \
          --non-interactive \
          --dns-route53-propagation-seconds 60 \
          -d wondermove.in -d wonderwhy.in \
          -d www.wondermove.in -d www.wonderwhy.in \
          -d magnum.wondermove.in -d app.wondermove.in \
          -d auth.magnum.wondermove.in -d auth.app.wondermove.in \
          -d vijay.wondermove.in -d avd.wondermove.in \
          --email thinker@wonderwhy.in \
          --config-dir ./ \
          --work-dir ./ \
          --logs-dir /tmp

    - name: Configure AWS CLI
      uses: aws-actions/configure-aws-credentials@v2
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_KEY }}
        aws-region: ap-south-1

    - name: Create Secrets if they don't exist
      continue-on-error: true
      run: |
        aws secretsmanager create-secret --name CA_CERTS_FULL_CHAIN --description "SSL Full Chain Certificate" --region ap-south-1 || echo "Secret CA_CERTS_FULL_CHAIN already exists"
        aws secretsmanager create-secret --name CA_CERTS_PRIVATE_KEY --description "SSL Private Key" --region ap-south-1 || echo "Secret CA_CERTS_PRIVATE_KEY already exists"
    
    - name: Encrypt certs using RSA-4096 and upload to Secrets Manager
      run: |
        echo "${{ secrets.RSA_4096_PUBLIC_KEY }}" > rsa_public.pem

        openssl rsautl -encrypt \
          -pubin -inkey rsa_public.pem \
          -in /home/runner/work/pipelines/pipelines/live/wondermove.in/fullchain.pem \
          -out fullchain.pem.enc

        openssl rsautl -encrypt \
          -pubin -inkey rsa_public.pem \
          -in /home/runner/work/pipelines/pipelines/live/wondermove.in/privkey.pem \
          -out privkey.pem.enc

        FULLCHAIN=$(cat fullchain.pem.enc | base64 -w 0)
        PRIVKEY=$(cat privkey.pem.enc | base64 -w 0)

        aws secretsmanager put-secret-value \
          --secret-id CA_CERTS_FULL_CHAIN \
          --secret-string "{\"cert\":\"$FULLCHAIN\"}"

        aws secretsmanager put-secret-value \
          --secret-id CA_CERTS_PRIVATE_KEY \
          --secret-string "{\"key\":\"$PRIVKEY\"}"