name: QA backend Deploy
run-name: QA backend Deploy
on:
  workflow_dispatch:
    inputs:
      environment:
        description: "Deployment Environment"
        required: true
        default: "qa"
        type: choice
        options:
          - qa
          - prod

jobs:
  find_latest_version:
    uses: ./.github/workflows/base_get_latest_repo_version.yml
    with:
      environment: qa
    secrets:
      REPO_TOKEN: ${{ secrets.REPO_READ_TOKEN }}

  validate_backend:
    runs-on: ubuntu-latest
    needs: find_latest_version
    outputs:
      latest_version: ${{ steps.set_version.outputs.latest_version }}
    environment:
      name: qa
    steps:
      - name: check out repository for actions
        uses: actions/checkout@v4

      - name: Check out wonderwhy folder
        uses: actions/checkout@v4
        with:
          repository: WonderWhyDev/wonderWhy
          token: ${{ secrets.REPO_READ_TOKEN }}
          path: wonderWhy
          fetch-depth: 1
          ref:  ${{ needs.find_latest_version.outputs.latest_version }}

      - uses: actions/setup-node@v3
        with:
          node-version: '24.11.1'
          cache: 'yarn'
          cache-dependency-path: 'wonderWhy/yarn.lock'
      - run: |
          cd wonderWhy
          yarn install
          # yarn b prismaUp
          yarn b format
          yarn b lint
          yarn b build

      - uses: ./.github/actions/upload_version_file
        with:
          version: ${{ needs.find_latest_version.outputs.latest_version }}
          env: qa
      - run: |
          sed -i 's|name: wonderwhy_postgres-network|name: wonderwhy-network|' wonderWhy/backend/deploy/compose.yml
          mkdir backend
          cp -r wonderWhy/backend/prisma backend/
          cp -rf wonderWhy/backend/assets backend/
          cp -rf wonderWhy/backend/prisma/migrations backend/prisma/schema/
          cp wonderWhy/backend/dist/app.js backend/
          cp -rf wonderWhy/backend/externalPackages backend/
          cp wonderWhy/backend/package.json backend/
          cp wonderWhy/backend/prisma.config.ts backend/
          cp wonderWhy/backend/deploy/* backend/

      - name: Decode ICICI .p12
        run: |
          echo "${{ secrets.ICICI_KEYSTORE_BASE64 }}" | base64 --decode \
            > backend/externalPackages/icici/node-composite-sv-build/sdk-composite/config/iciciKey.p12
          zip -r backend.zip backend

      - uses: ./.github/actions/copy_to_ec2
        with:
          ec2IP: ${{ secrets.EC2_IP }}
          awsAccessKeyId: ${{ secrets.AWS_ACCESS_KEY }}
          awsSecretKey: ${{ secrets.AWS_SECRET_KEY }}
          awsRegion: ${{ secrets.AWS_REGION }}
          ec2User: ${{ secrets.EC2_USER }}
          securityGroupId: ${{ secrets.SECURITY_GROUP_ID }}
          sshKey: ${{ secrets.SSH_PRIVATE_KEY_FOR_EC2 }}
          fileToCopy: ./backend.zip
          destination: ~/backend.zip
          unzipDestination: ~/
          runScript: |
            cd backend
            sh deploy.sh ${{ secrets.OAUTH_CLIENT_ID }}  ${{ secrets.ZITADEL_PAT }} "auth.${{ secrets.DOMAIN_NAME }}.${{ secrets.BASE_DOMAIN }}" ${{ secrets.GEN_AI_GOOGLE_API }} ${{ secrets.WHATSAPP_VERIFY_TOKEN }} ${{ secrets.WHATSAPP_ACCESS_TOKEN }} ${{ secrets.WHATSAPP_PHONE_NUMBER_ID }} ${{ secrets.WHATSAPP_FUEL_FLOW_ID }} ${{ secrets.WHATSAPP_SHORTAGE_FLOW_ID }}

  prod_deploy:
    runs-on: ubuntu-latest
    needs: validate_backend
    if: ${{ inputs.environment == 'prod' }}
    environment: magnum
    steps:
      - name: check out repository for actions
        uses: actions/checkout@v4

      - name: Check out wonderwhy folder
        uses: actions/checkout@v4
        with:
          repository: WonderWhyDev/wonderWhy
          token: ${{ secrets.REPO_READ_TOKEN }}
          path: wonderWhy
          fetch-depth: 1
          ref:  ${{ needs.validate_backend.outputs.latest_version }}

      - uses: actions/setup-node@v3
        with:
          node-version: '24.11.1'
          cache: 'yarn'
          cache-dependency-path: 'wonderWhy/yarn.lock'

      - run: |
          cd wonderWhy
          yarn install
          # yarn b prismaUp
          yarn b format
          yarn b lint
          yarn b build
      - uses: ./.github/actions/upload_version_file
        with:
          version: ${{ needs.validate_backend.outputs.latest_version }}
          env: prod
      - run: |
          mkdir backend
          cp -r wonderWhy/backend/prisma backend/
          cp -rf wonderWhy/backend/assets backend/
          cp -rf wonderWhy/backend/prisma/migrations backend/prisma/schema/
          cp wonderWhy/backend/dist/app.js backend/
          cp -rf wonderWhy/backend/externalPackages backend/externalPackages
          cp wonderWhy/backend/package.json backend/
          cp wonderWhy/backend/prisma.config.ts backend/
          cp wonderWhy/backend/deploy/* backend/
          zip -r backend.zip backend

      - uses: ./.github/actions/copy_to_ec2
        with:
          ec2IP: ${{ secrets.EC2_IP }}
          awsAccessKeyId: ${{ secrets.AWS_ACCESS_KEY }}
          awsSecretKey: ${{ secrets.AWS_SECRET_KEY }}
          awsRegion: ${{ secrets.AWS_REGION }}
          ec2User: ${{ secrets.EC2_USER }}
          securityGroupId: ${{ secrets.SECURITY_GROUP_ID }}
          sshKey: ${{ secrets.SSH_PRIVATE_KEY_FOR_EC2 }}
          fileToCopy: ./backend.zip
          destination: ~/backend.zip
          unzipDestination: ~/
          runScript: |
            cd backend
            sh deploy.sh ${{ secrets.OAUTH_CLIENT_ID }}  ${{ secrets.ZITADEL_PAT }}  "auth.${{ secrets.DOMAIN_NAME }}.${{ secrets.BASE_DOMAIN }}" ${{ secrets.GEN_AI_GOOGLE_API }} ${{ secrets.WHATSAPP_VERIFY_TOKEN }} ${{ secrets.WHATSAPP_ACCESS_TOKEN }} ${{ secrets.WHATSAPP_PHONE_NUMBER_ID }} ${{ secrets.WHATSAPP_FUEL_FLOW_ID }} ${{ secrets.WHATSAPP_SHORTAGE_FLOW_ID }}

