name: Test Ground
on:
  push:
    branches:
      - main

jobs:
  FlutterFlowWebBuild:
    runs-on: ubuntu-latest
    environment: qa
    steps:
      - name: check out repository for actions
        uses: actions/checkout@v4

      - name: Check out only flutterFlow web folder
        uses: actions/checkout@v4
        with:
          repository: WonderWhyDev/wonderWhy
          path: wonderWhy
          token: ${{ secrets.REPO_TOKEN }}
          fetch-depth: 1
          sparse-checkout: '.gitignore'
          sparse-checkout-cone-mode: false

      - run: |
          pwd
          touch index.html
          touch bla.js
          zip -r web.zip ./
          ls -lash
          pwd

      - uses: ./.github/actions/copy_to_ec2
        with:
          ec2IP: ${{ secrets.EC2_IP }}
          awsAccessKeyId: ${{ secrets.AWS_ACCESS_KEY }}
          awsSecretKey: ${{ secrets.AWS_SECRET_KEY }}
          awsRegion: ${{ secrets.AWS_REGION }}
          ec2User: ${{ secrets.EC2_USER }}
          securityGroupId: ${{ secrets.SECURITY_GROUP_ID }}
          sshKey: ${{ secrets.SSH_PRIVATE_KEY_FOR_EC2 }}
          fileToCopy: ./web.zip
          destination: ~/web.zip
          unzipDestination: ~/
